
:root {
  --bg: #fff;
  --text: #1a1714;
  --text-h: #08060d;
  --header: whitesmoke;
  --border: #e5e4e7;
  --accent: #009688;
  --accent-light: #00796B;
  --acent-transparent: rgba(0, 150, 136, 0.3);
  --acent-light-transparent: rgba(0, 121, 107, 0.15);
  --muted: #8B7D6B;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading:  system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

:root[data-theme='dark'] {
  --bg: #000;         
  --text: #F5F0E8;         
  --text-h: #FFFFFF;       
  --header: #24201C;
  --border: #2D2824;       
  --accent: #009688;
  --accent-light: #00796B;
  --muted: #A39685;
}



#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

